/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Cabeçalho */
.cabeçalho {
  background-color: #f4f4f4;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Cardápio */
.linha-cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardapio-item {
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prato {
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

.titulo {
  font-size: 20px;
  margin-bottom: 10px;
}

.descricao {
  color: #666;
  margin-bottom: 10px;
}

.preco {
  font-weight: bold;
  margin-bottom: 10px;
}

.quantidade {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.quantidade input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
}

.adicionar {
  background-color: #28a745;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão adicionar */
.center {
  text-align: center;
  margin-top: 20px;
}
